{% extends 'home.html' %}
{% load static date_filters %}


    {% block navigate %}
        <div class="navbar">
            <a href="{% url 'jobs_app:home' %}">Ver incidencias</a>
            <a href="{% url 'jobs_app:all_husers' %}">Ver historias de usuario</a>
        </div>
    {% endblock navigate %}
    
    
    {% block content %}
    <div class="main__content">
            

        
        <div class="main__title">
            <h2>Inicio Jira {{ user.get_username }}</h2>
        </div>       

        
        {% if tareas %}
            <h3>Tus tareas</h3>
            {% for incidencia in tareas %}
                Título: {{ incidencia.titulo }} <br>
                descripcion: {{ incidencia.descripcion }}<br>
                progreso: {{ incidencia.progreso|to_percentage }}<br>
                
                {% if incidencia.prioridad == 1 %}
                    Prioridad: Alta <br>
                {% elif incidencia.prioridad == 2 %}
                    Prioridad: Media <br>
                {% elif incidencia.prioridad == 3 %}
                    Prioridad: Baja     <br>
                {% endif %}
                
                Tipo de incidencia: {{ incidencia.tipo }} <br>
                
                Fecha límite: {{ incidencia.Fecha_limite }}<br>

                
                <br>
                <!-- Botón para abrir el modal 2-->
                

            {% endfor %}
        {% else %}
            <h3>De momento no tienes historias de usuario activas</h3>
        {% endif %}


    </div>
    
    {% endblock content %}

