{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
    integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous'
    referrerpolicy='no-referrer' />
    <title></title>
</head>
<body>



    
    {% block content %}
        

        
    <h1>Inicio Jira {{ user.get_username }}</h1>

    
    {% if user_incidencias %}
        <h3>Tus incidencias</h3>
        {% for incidencia in user_incidencias %}
            Título: {{ incidencia.titulo }} <br>
            descripcion: {{ incidencia.descripcion }}<br>
            progreso: {{ incidencia.progreso }}<br>
            
            {% if incidencia.prioridad == 1 %}
                Prioridad: Alta <br>
            {% elif incidencia.prioridad == 2 %}
                Prioridad: Media <br>
            {% elif incidencia.prioridad == 3 %}
                Prioridad: Baja     <br>
            {% endif %}
                
            
            Fecha límite: {{ incidencia.Fecha_limite }}<br>

            <a href="{% url 'jobs_app:incidencia_detail' incidencia_slug=incidencia.slug %}">Ver incidencia</a>

        {% endfor %}
    {% else %}
        <h3>De momento no tienes incidencias activas</h3>
    {% endif %}

    <!-- Botón para abrir el modal -->
    <button type="button" class="create_incidence">
        Crear nueva incidencia
    </button>

    <!-- Modal -->
    <section class="modal">
        <div class="modal__container">
            <!-- <div class="modal__title">modal title</div>
            <div class="modal_paragraph">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. A asperiores, earum aperiam molestiae deserunt optio?
            </div> -->
            {{ incidence_form.as_p }}
            <a href="#" class="modal__close">Cerrar modal</a>
        </div>
    </section>
    <!-- fin Modal -->



    
    {% endblock content %}

    <h3><a href="{% url 'users_app:user_logout' %}">Log out</a></h3>
    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>