{% extends 'home.html' %}



{% block content %}
    
   <h3>Hola desde la página de HU relacionadas con la incidencia: {{ parent_incidence.titulo }}</h3>

   
   {% if user_histories %}
      
      {% for history in user_histories %}
         <h4>{{ history.titulo }}</h4>
         <p>{{ history.descripcion }}</p>

         <a href="{% url 'jobs_app:history_user_detail' incidencia_slug=parent_incidence.slug history_user_slug=history.slug %}">Ver historia de usuario</a>

         <!-- Botón para abrir el modal 2-->
         <button type="button" class="edit_huser" data-history-slug="{{ history.slug }}" data-incidence-slug="{{ parent_incidence.slug }}">
            Editar historia de usuario
        </button>
        <button type="button" class="delete_huser" data-slug="{{ history.slug }}" data-title="{{ history.titulo }}">Eliminar Historia de usuario</button>
        <br><br><br>
      {% endfor %}

   {% else %}
      <h4>De momento esta incidencia no tiene historias de usuario</h4>
   {% endif %}

   
   <button type="button" class="create_history">
      Crear nueva historia de usuario
  </button>

  <!-- Modal para Crear una historia de usuario -->
   <section class="modal">
      <form  class="modal__container" method="post" action="{% url 'jobs_app:create_huser' parent_incidence.slug %}">
         <span class="modal__close">X</span>
          {% csrf_token %}
          {{ history_user_form.as_p }}
          <button type="submit" class="modal__close">Cerrar modal</button>
      </form>
  </section>

  <!-- Modal para actualizar una historia de usuario -->
  <section id="modal_edit" class="modal">
   <form id="edit__form" class="modal__container" method="post">
      <span id="close_modal" class="modal__close">X</span>
       {% csrf_token %}
       {{ history_user_update_form.as_p }}
       <button type="submit" class="modal__close">Cerrar modal</button>
   </form>
</section>

<!-- Modal 3 (delete HU) -->
<section class="modal" id="delete_modal">
   <form id="delete_form" class="modal__container" method="post">
       
       {% csrf_token %}
       <h2></h2>
       
       <button type="submit" class="modal__send">Sí</button>
       <span id="modal_delete_close" class="modal__close">No</span>
   </form>
</section>
<!-- fin Modal -->
    

  <a href="{% url 'jobs_app:home' %}">inicio</a>

{% endblock content %}
    