{% extends 'home.html' %}



{% block content %}
    
   <h3>Hola desde la página de HU relacionadas con la incidencia: {{ parent_history_user.titulo }}</h3>

   
   {% if tareas %}
      

      
   
   {% for tarea in tareas %}
        <h4>{{ tarea.titulo }}</h4>
        <p>{{ tarea.descripcion }}</p>
        <p>{{ tarea.estado }}</p>
        <!-- Botón para abrir el modal 2-->
        <button type="button" class="edit_tarea" data-job-slug="{{ tarea.slug }}" data-history-slug="{{ parent_history_user.slug }}" data-incidence-slug="{{ parent_incidence.slug }}">
            Editar historia de usuario
        </button>
        <br><br><br>
   {% endfor %}
   
   {% else %}
      <h4>De momento esta historia de usuario no tiene tareas</h4>
   {% endif %}


   <button type="button" class="create_job">
      Crear nueva Tarea
  </button>

  <!-- Modal para crear una tarea -->
   <section class="modal">
      <form  class="modal__container" method="post" action="{% url 'jobs_app:create_tarea' parent_incidence.slug parent_history_user.slug %}">
          {% csrf_token %}
          <span id="close_modal" class="modal__close">X</span>
          <!-- <div class="modal__title">modal title</div>
          <div class="modal_paragraph">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. A asperiores, earum aperiam molestiae deserunt optio?
          </div> -->
          {{ tarea_form.as_p }}
          <button type="submit" class="modal__close">Cerrar modal</button>
      </form>
  </section>

  <!-- Modal para actualizar una tarea -->
  <section id="modal_edit" class="modal">
    <form id="edit__form" class="modal__container" method="post">
       <span id="close_modal" class="modal__close">X</span>
        {% csrf_token %}
        {{ tarea_update_form.as_p }}
        <button type="submit" class="modal__close">Cerrar modal</button>
    </form>
 </section>


   <a href="{% url 'jobs_app:home' %}">inicio</a>
    

{% endblock content %}
    